<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crops</title>
</head>
<body>
    <h1>Crops</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>How to Grow</th>
        </tr>
        {% for crop in crops %}
        <tr>
            <td>{{ crop[0] }}</td>
            <td>{{ crop[1] }}</td>
            <td>{{ crop[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
