<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Grid</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td {
            width: 50px;
            height: 50px;
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Crop Grid</h1>
    <table>
        {% for row in grid %}
        <tr>
            {% for plot in row %}
            <td>{{ plot }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
